.we{
    background-color: #FEEAE9;
    height: 400px;
    border-radius: 30px;
    margin-top: 40px;
    
}
.my{
    padding: 4%;
    margin: 4%;
}
.no{
    color:#FF136F ;
}
.vy{
    margin-top: 10px;
}
.tr{
    margin-top: 30px;
}
.yes{
    background: linear-gradient(to right,#FFD019,#FF9C35);
    border-radius: 20px;
    height: 115px;
    width: 330px;
    
    
}
.mn{background: linear-gradient(to right,#FF247A,#FF4D94);
    border-radius: 20px;
    height: 115px;
    width: 330px;
    margin-left: 40px;
    
}
.qw{
    background: linear-gradient(to right, #416BFD, #3A06E5);
    border-radius: 20px;
    width:330px ;
    height: 115px;
    margin-left: 40px;
    
    
}
.by{
    width: 100px;
}
.jk{
    margin: 12%;
    color:#FFFFFF ;
}
.re{
    margin-top: 10px;
}
.cc{
    margin-top: 20px;
}
.vb{
    margin-top: 30px;
}
.as{
    margin-left: 60px;
}
.xx{
    margin-left: 70px;
}
.yy{
    margin-left: 30px;
}
.kk{
    margin-left: 50px;
}
.dd{
    margin-left: 120px;
}
.zz{
    margin-left: 100px;
    background-color:#000000 ;
    color: #FDFDFD;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}
.ss{
    margin-top: 30px;
}

.hlw{
    width: 350px;
    height: 35px;
    padding-left: 30px;
    
}

.sad{text-align: center;
padding-top: 30px;
}


.iya{
    margin: 5%;
}
.ne{
    background-color:#FEEAE9 ;
    border-radius: 20px;
    margin-top: 50px;
    width: 1000px;
    margin-bottom: 50px;
    height: 300px;
}

.ha{

margin-bottom: 5px;

}
.xr{
    margin-left: 30px;
}
.dw{
    width: 450px;
    border-radius: 30px;
    margin-left: 30px;
    height: 35px;
}
.mimi{margin-top: 20px;
}

.l{
box-shadow: 3px 3px 3px 3px rgb(252, 251, 251) ;

}

.lol{background-color: #F8F8F8;}